<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">Inveenda</a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <% if(!user){ %>
                <a href="/auth/login">Login</a>
                <a href="/auth/register">Register</a>
            <% } else { %>
                <% if(user.role === "admin"){ %>
                    <a href="/dashboard">Dashboard</a>
                <% } %>
                <a href="/account"><%= user.username %></a>
                <a href="/auth/logout">Logout</a>
            <% } %>
        </div>
    </nav>
</header>
